{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.photo.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'usergroups:usergroups-single' object.author.slug %}">{{ object.author.slug }}</a>
        <small class="text-muted">{{ object.pub_date}}</small>
      </div>
      {% if object.author.created_by == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'usergroups:article-update' object.author.slug object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'usergroups:article-delete' object.author.slug object.id %}">Delete</a>
          </div>
        {% endif %}
      <h2 class="article-title">{{ object.header }}</h2>
      <p class="article-content">{{ object.content|safe }}</p>
      <a class="btn btn-outline-info mb-4" href="{% url 'usergroups:comments-create' object.author.slug object.id %}">Comment</a>
    </div>
  </article>
  
  
      <legend class="border-bottom mb-4">Comments</legend>
      {% if user == object.author.created_by and user.is_authenticated %}
          {% load static %}
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
<link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
         <script src="{% static 'tinymce/js/prism.js' %}"></script> 
    </div>
    </form>
    {% endif %}
          
  {% for instance in object_list %}
        <article class="media content-section ">
          <img class="rounded-circle article-img" src="{{ instance.author.photo.url }}">
          <div class="media-body"><style>div {word-break: break-all;}</style>
            <div class="article-metadata">
              <a class="mr-2" href="{{ instance.get_absolute_url }}">{{ instance.author.slug }}</a>
              <small class="text-muted">{{ instance.pub_date|date:"F d, Y" }}</small>
            </div>
            <p>{{ instance.content }}</p>
            <a class="btn btn-outline-info mb-4" href="{% url 'usergroups:comments-detail' object.author.slug instance.post.id instance.pk %}">Details</a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}