{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>{{form.media}}</head>
<div class="content-section">
   <div class="media">
      <img class="rounded-circle account-img" src="{{ author.photo.url }}">
      <div class="media-body">
         <h2 class="account-heading">{{ author.name }}</h2>
         <p class="text-secondary">{{ author.email }}</p>
         <p class="text-secondary">{{ author.first_name }} {{ author.last_name }}</p>
      </div>
   </div>
   <legend class="border-bottom mb-4">Profile Info</legend>
   <p>ID: {{ author.id }}</p>
   {% if author.is_staff %}
   <p>Is staff: <strong>Yes</strong></p>
   {% else %}
   <p>Is staff: No</p>
   {% endif %}
   <p>Date Joined: {{ author.date_joined }}</p>
   <p>Last Seen: {{ author.last_login }}</p>
   {% if user.username == author.created_by.username and user.is_authenticated %}
   <div class="row">
      <div class='col'>
         <a class="btn btn-outline-info mb-4" href="{% url 'usergroups:usergroups-update' author.slug %}">Update Profile Info</a>
         <a class="btn btn-outline-info mb-4" href="{% url 'usergroups:article-create' author.slug %}">Create a Post</a>
         <a class="btn btn-outline-info mb-4" href='{% url 'usergroups:usergroups-users' author.slug %} ' >Users: {{ get_users }}</a>
         <a class="btn btn-outline-info mb-4" onclick="{{ subscribe }}" >Subscribe!</a>
      </div>
   </div>
   {% endif %}
</div>
{% load static %}
<legend class="border-bottom mb-4">Posts</legend>
{% if user == author.created_by and user.is_authenticated %}
{% load static %}
<form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
   <div class="content-section">
<form method="POST">
{% csrf_token %}
<fieldset class="form-group">
{{ form|crispy }}
</fieldset>
<div class="form-group">
<button class="btn btn-outline-info" type="submit">Post</button>
</div>
</form>
<script src="{% static 'tinymce/js/prism.js' %}"></script> 
</div>
</form>
{% endif %}
{% load static %}
<link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
{% for instance in object_list %}
<article class="media content-section ">
   <img class="rounded-circle article-img" src="{{ instance.author.photo.url }}">
   <div class="media-body">
      <style>div {word-break: break-all;}</style>
      <div class="article-metadata">
         <a class="mr-2" href="{{ instance.get_absolute_url }}">{{ instance.author.username }}</a>
         <small class="text-muted">{{ instance.pub_date|date:"F d, Y" }}</small>
         <div class="btn-group ml-3 " style='left:440px;'>
            <img height='50' width='50' src="/media/menu.png" class='dropdown-toggle' data-toggle="dropdown" >
            <span class="sr-only">Toggle Dropdown</span>
            <div class="dropdown-menu" style='border-radius:10px;'>
               <a class="dropdown-item" href="{% url 'usergroups:article-update' author.slug instance.id %}">Update</a>
               <a class="dropdown-item" href="{% url 'usergroups:article-delete' author.slug instance.id %}">Delete</a>
            </div>
         </div>
      </div>
      <h3>{{ instance.header }}</h3>
      <p>{{ instance.content|safe }}</p>
       <legend class="border-bottom mb-4"></legend>
      <div class='row'>
         <div class='col mb-2'>
            <a class="mb-1" href="{% url 'usergroups:article-detail' author.slug instance.id %}"><img  height='50' width='50' src="/media/notes.png"></a>
         </div>
   </div>
</article>
{% endfor %}
{% endblock content %}