<!doctype html>
<html lang="ru">


    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <title>Добро пожаловать!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/flaticon/flaticon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        <section class="home_banner_area">
            <div class="container box_1500 col ">
                <div class="banner_inner d-flex align-items-center">
                    <div class="banner_content">
                        <div class="media">
                            <div class="d-flex">
                                <img src="{% static 'img/personal-3.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="personal_text">
                                    <h6>Здравствуйте, меня зовут</h6>
                                    <h3>Михаил Кузнецов</h3>
                                    <h4>Junior Python/Backend-Python Developer</h4>
                                    <p>Амбициозный студент-энтузиаст, желающий в стать мастером языка Python, получить всевозможный опыт в разработке веб-приложений.</p>
                                    <ul class="list basic_info">
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i> 14 Июня 2002</a></li>
                                        <li><a href="#"><i class="lnr lnr-phone-handset"></i> +8 900 910 66 32</a></li>
                                        <li><a href="#"><i class="lnr lnr-envelope"></i> cybericicus@gmail.com</a></li>
                                        <li><a href="#"><i class="lnr lnr-home"></i>г. Рязань</a></li>
                                    </ul>
                                    <ul class="list personal_social">
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        li><a href="#"><i class="fa fa-github"></i></a></li>
                                        
                                    <div class='col-lg-6'>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="col-lg-10">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>О себе</h4>
        					<p>Python - мой любимый язык программирования, хочу связать с ним мою дальнейшую карьеру. Мне интересен веб, скрэпинг. Загляните в мой GitHub, там много проектов. Я изучаю:</p>
        					<div class="col-lg-6">
        						
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
                        <div class="welcome_text">
                            <h4>ВНИМАНИЕ!</h4>
                            <h6>Спасибо за внимание. Чтобэ сюды запихнуть?</h6>
                        </div>
                    </div>
        		</div>
        	</div>
        </section>
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Образование</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>С 2020 по 2025 года</p>
										</div>
										<div class="media-body">
											<h4>Институт</h4>
											<p>Веб-программист <br />РГРТУ</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
        		</div>
        	</div>
        </section>
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Что я предлагаю жабам</h2>
        			<p>У меня есть мечта - стать крутым программистом, одним из лучших, и я ни перед чем не остановлюсь ради её достижения!</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-city"></i>
        					<h4>Пункт 1</h4>
        					<p>шобэ тут написат</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-skyline"></i>
        					<h4>Пункт 2</h4>
        					<p>шобэ тут написат</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-sketch"></i>
        					<h4>Пункт 3</h4>
        					<p>шобэ тут написат</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
    </body>
</html>