{% load el_pagination_tags %}

{% load static %}
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    {% for instance in object_list %}
        <article class="media content-section ">
          <img class="rounded-circle article-img" src="{{ instance.author.photo.url }}">
          <div class="media-body"><style>div {word-break: break-all;}</style>
            <div class="article-metadata">
              <a class="mr-2" href="{{ instance.get_absolute_url }}">{{ instance.author.username }}</a>
              <small class="text-muted">{{ instance.pub_date|date:"F d, Y" }}</small>
            </div>
            <h3>{{ instance.header }}</h3>
            <p>{{ instance.content|safe }}</p>
          </div>
        </article>
    {% endfor %}
