{% extends "base.html" %}
{% block content %}
{% load static %}
<div class='content-section'>
	<div class='media-body'>
		<h2>Users:</h2>
	</div>

{% for instance in object_list %}
	<legend class="border-bottom mb-4"></legend>
	<div class='row'>
		<div class='col-'>
			<a href="/users/{{instance.username}}/"><img class='rounded-circle account-img ml-5' src ='/media/{{instance.photo}}'></a>
		</div>
	
		<div class='col- mt-3'>
			<a href="/users/{{instance.username}}/"><h6>{{instance.username}}</h6></a>
			<p>Last Seen: {{ instance.last_login }}</p>
		</div>
	</div>
{% endfor %}
</div>
{% endblock content %}